*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar 
{
    width: 10px;
}

::-webkit-scrollbar-thumb 
{
    background: #9F4AE1;
    border-radius: 5px;
}

body
{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    background-color: #000000;
    background-image: url(img/stars.png);
    color: #9F4AE1;
}

#burger
{
    display: none;
}

main
{
    width: 1000px;
}

header h1
{
    color: #9F4AE1;
    text-align: center;
    margin: 15px;
}

.baner
{
    text-align: center;
    position: relative;
}

.baner img
{
    width: 80%;
    height: 250px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 0;
}

.baner blockquote
{
    font-size: 25px;
    color: #fafafa;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 2px 2px 0px #000;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
}

.baner blockquote :nth-child(2)
{
    font-size: 20px;
}

nav
{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #9F4AE1;
    position: sticky;
    top: 0;
}

nav ul
{
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li a
{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav ul li
{
    transition: 0.5s;
}

nav ul li:hover
{
    transform: scale(1.3);
}

#kosmos
{
    margin-top: 40px;
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#kosmos > h2
{
    width: 100%;
}

.galeria
{
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    height: 500px;
    width: 80vw;
}

.obraz
{
    background-repeat: no-repeat;
    background-size: cover;
}

.obraz:nth-child(1)
{
    background-image: url("img/obraz1.jpg");
}

.obraz:nth-child(2)
{
    background-image: url("img/obraz2.jpg");
}

.obraz:nth-child(3)
{
    background-image: url("img/obraz3.jpg");
    grid-column: 3/4;
    grid-row: 1/3;
}

.obraz:nth-child(4)
{
    background-image: url("img/obraz4.jpg");
}

.obraz:nth-child(5)
{
    background-image: url("img/obraz5.jpg");
}



#artykuly
{
    margin-top: 40px;
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#artykuly > h2
{
    width: 100%;
}

#artykuly > div
{
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    height: 500px;
    width: 100%;
}

.artykul
{
    background-color: #9F4AE150;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.artykul:hover
{
    transform: scale(1.05);
}

.artykul img
{
    width: 50%;
    height: 80%;
    border-radius: 3px;
    margin: 5px;
    
}

.artykul p
{
    max-width: 200px;
}

#oferta
{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#oferta > h2
{
    width: 100%;
}

#oferta > p
{
    width: 100%;
    color: #fff;
    font-size: 1.2em;
}

.produkty
{
    color: #fff;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.produkt
{
    width: 25%;
    height: 80%;
}

.produkt img
{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

#kontakt
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#kontakt h2
{
   margin-bottom: 50px;
}

#kontakt textarea
{
    max-width: 400px;
    max-height: 100px;
    border-radius: 5px;
    background-color: black;
    border: 2px dashed #55278F;
    color: white;
}

#kontakt textarea:focus
{
    border: 2px solid #9F4AE1;
    outline: none;
    transform: scale(1.1);
}

form
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imie
{
    border: 2px dashed #55278F;;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.imie:focus
{
    border: 2px solid #9F4AE1;
    outline: none;
    transform: scale(1.1);
}

.wyslij
{
    background-color: #9F4AE1;
    border: 2px solid #55278F;
    align-self: center;
    width: 50px;
    height: 30px;
    font-size: 1.1em;
    transition: 0.5s;
}

.wyslij:hover
{
    transform: scale(1.2);
}

footer
{
    height: 80px;
    width: 100vw;
    background-color: #55278F;
    color: #9F4AE1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    opacity: 0.8;
}

footer a
{
    color: #9F4AE1;
    transition: ease-in-out 0.2s;
}

footer a:hover
{
    transform: translateY(-2px) scale(1.1);
}







@media screen and (max-width: 900px)
{
    body
    {
        overflow-x: hidden;
    }
    

    main
    {
        width: 100vw;
    }

    .baner blockquote
    {
        width: 80%;
    }

    nav
    {
        margin: 0;
        display: none;
        position: fixed;
        width: 150px;
        height: 400px;
        top: 80;
        left: 0;
        z-index: 5;
        border-radius: 3px;
    }


    nav ul
    {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    #burger
    {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        background-color: #55278F;
        z-index: 5;
    }

    #burger_b
    {
        width: 50px;
        height: 6px;
        background-color: #9F4AE1;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    #burger_b::before, #burger_b::after
    {
        content: "";
        position: absolute;
        width: 50px;
        height: 6px;
        background: #9F4AE1;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    #burger_b::before
    {
        transform: translateY(-16px); 
    }

    #burger_b::after
    {
        transform: translateY(16px); 
    } 

    .opened #burger_b
    {
        transform: translateX(-50px);
        background: transparent;
    }

    .opened #burger_b::before
    {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .opened #burger_b::after
    {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .galeria
    {
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
        height: 500px;
    }

    .obraz:first-child
    {
        background-position: right;
    }

    .obraz:nth-child(3)
    {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .obraz:nth-child(5)
    {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    header
    {
        width: 100vw;
        margin: 0;
    }
    .baner
    {
        width: 100vw;
    }

    .baner img
    {
        width: 100%;
        height: 250px;
    }

    #artykuly
    {
        height: auto;
    }
    
    #artykuly > div
    {
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        height: auto;
    }

    .artykul p
    {
        width: 150px;
        text-align: center;
    }

    #oferta
    {
        height: 1100px;
    }

    .produkty
    {
        height: 900px;
        flex-wrap: wrap;
    }

    .produkt img
    {
        height: 80%;
    }

    .produkt
    {
        width: 60vw;
        height: 300px;
    }

    footer
    {
        flex-direction: column;
        height: 150px;
    }


    footer p
    {
        width: 150px;
        text-align: center;
    }
}